# Object files
*.o

# Executables
main
program
*.out

# Temporary files
*.tmp
*.swp
*.bak

# Dependency files
*.d

# IDE / editor folders (optional)
.vscode/
.idea/

*.aux
*.log
*.synctex(busy)
*.data.minted
_minted/
